.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pause-btn {
  display: none;
}

#progress-bar {
  transition-duration: .1s;
}
.progress-bar-empty {
  width: 0% !important;
}